### Introduction to week 5 workbook: Creating a (simple) global metric

In week 5 we have looked at how many metrics have been developed in order to try and capture “global indicators” like sleep quality, body battery, VO2max, etc.  These are exciting -- but also we need to be mindful that they are hard to test and validate in some (many!) cases.  With that said -- I'm going to "play around" a little with the data to make a simple global metric.

### Import Libraries and Dataset

In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sn
import matplotlib.dates as mdates
import datetime
import plotly.graph_objects as go

import scipy.stats as stats

df = pd.read_csv("../Data/FH.csv",)

In [2]:
df.columns

Index(['Unnamed: 0', 'Timestamp', 'Seconds', 'Velocity', 'Acceleration',
       'Odometer', 'Latitude', 'Longitude', 'Heart Rate', 'Player Load',
       'AthleteID'],
      dtype='object')

In [3]:
df.head()

,Unnamed: 0,Timestamp,Seconds,Velocity,Acceleration,Odometer,Latitude,Longitude,Heart Rate,Player Load,AthleteID
0,0,9/30/2018 12:21:49 PM,0.0,0.06,-0.041234,0.0,42.263222,-83.741055,122,0.0,Athlete 1
1,1,9/30/2018 12:21:49 PM,0.1,0.06,-0.025926,0.0,42.263223,-83.741055,122,0.0,Athlete 1
2,2,9/30/2018 12:21:49 PM,0.2,0.06,-0.011945,0.0,42.263223,-83.741055,122,0.0,Athlete 1
3,3,9/30/2018 12:21:49 PM,0.3,0.09,0.048539,0.0,42.263223,-83.741055,122,0.0,Athlete 1
4,4,9/30/2018 12:21:49 PM,0.4,0.08,0.021406,0.0,42.263223,-83.741055,122,0.0,Athlete 1

In [4]:
df.drop(['Unnamed: 0', 'Latitude', 'Longitude', 'Heart Rate'], axis=1, inplace=True) # we can drop the previous index column ('unnamed') and some others

In [5]:
master=df.set_index(['Timestamp', 'AthleteID'], inplace=False) # we'll use a multi-index to keep time in the index and the player ID #
master.head()

                                 Seconds  Velocity  Acceleration  Odometer  \
Timestamp             AthleteID
9/30/2018 12:21:49 PM Athlete 1      0.0      0.06     -0.041234       0.0
                      Athlete 1      0.1      0.06     -0.025926       0.0
                      Athlete 1      0.2      0.06     -0.011945       0.0
                      Athlete 1      0.3      0.09      0.048539       0.0
                      Athlete 1      0.4      0.08      0.021406       0.0

                                 Player Load
Timestamp             AthleteID
9/30/2018 12:21:49 PM Athlete 1          0.0
                      Athlete 1          0.0
                      Athlete 1          0.0
                      Athlete 1          0.0
                      Athlete 1          0.0

In [6]:
master['farthest']=master['Odometer'].diff(300) # 30 second window of recent distance covered (in meters) -- this will provide us perspective on the anaerobic capacity of the player

In [7]:
master['ThreeMinuteDistance']=master['Odometer'].diff(1800) # 3 minute window of recent distance covered (in meters).

In [8]:
master.loc[master['ThreeMinuteDistance'] <0,'ThreeMinuteDistance'] = np.nan
master.loc[master['farthest'] <0,'farthest'] = np.nan

The rationale for the simple performance measure is that Field Hockey requires high velocity -- but also considerable stamina.  One could weight the different measures variably to

In [9]:
master.head()

                                 Seconds  Velocity  Acceleration  Odometer  \
Timestamp             AthleteID
9/30/2018 12:21:49 PM Athlete 1      0.0      0.06     -0.041234       0.0
                      Athlete 1      0.1      0.06     -0.025926       0.0
                      Athlete 1      0.2      0.06     -0.011945       0.0
                      Athlete 1      0.3      0.09      0.048539       0.0
                      Athlete 1      0.4      0.08      0.021406       0.0

                                 Player Load  farthest  ThreeMinuteDistance
Timestamp             AthleteID
9/30/2018 12:21:49 PM Athlete 1          0.0       NaN                  NaN
                      Athlete 1          0.0       NaN                  NaN
                      Athlete 1          0.0       NaN                  NaN
                      Athlete 1          0.0       NaN                  NaN
                      Athlete 1          0.0       NaN                  NaN

In [10]:
MaxValues_df=master.groupby('AthleteID').agg([max])
print(MaxValues_df)

            Seconds Velocity Acceleration  Odometer Player Load farthest  \
                max      max          max       max         max      max
AthleteID
Athlete 1   8759.98     7.24     5.981192  10036.75       891.5   151.38
Athlete 10  8749.93     6.79     5.580821   7269.15       615.6   150.52
Athlete 11  8749.93     6.56     3.825559   4791.84       449.0   122.10
Athlete 12  8749.91     7.38     4.360430   8551.21       734.4   177.37
Athlete 13  8749.93     6.33     7.034368   6345.99       609.2   118.57
Athlete 14  7855.38     6.58     4.908402   9906.41       951.3   118.65
Athlete 15  8749.93     6.61    11.318196   5001.16       540.0   115.69
Athlete 17  8749.93     7.71     5.889059   9896.45       888.5   121.59
Athlete 18  8759.92     6.63     5.557953   6326.56       688.5   111.38
Athlete 19  8749.92     6.85     4.089531   7952.18       781.6   134.38
Athlete 2   8749.93     4.69     3.819985   2001.83       220.6    68.26
Athlete 20  8749.93     7.32     5.553606   9214.04       886.7   132.63
Athlete 21  8749.93     6.31     5.394188   7360.27       624.5   118.80
Athlete 22  8749.93     3.94     3.201309   2209.77       262.3    65.01
Athlete 23  8749.92     7.17     6.044008   9254.26      1044.2   127.24
Athlete 24  8749.93     7.31     3.911020   6784.38       675.0   125.93
Athlete 3   8749.97     6.52     4.420637   4884.73       475.0   105.88
Athlete 4   8749.92     6.93     7.695746   8404.01       819.0   131.37
Athlete 5   8749.92     6.33     3.994656   7482.94       750.9   118.69
Athlete 6   8750.04     7.15     8.633133  10739.12       988.4   117.31
Athlete 7   8749.93     7.53     5.789903  10723.64       900.1   131.45
Athlete 9   8749.92     7.01     3.932414   9233.42       767.0   109.88

           ThreeMinuteDistance
                           max
AthleteID
Athlete 1               645.59
Athlete 10              680.17
Athlete 11              440.27
Athlete 12              481.11
Athlete 13              443.65
Athlete 14              472.57
Athlete 15              461.78
Athlete 17              572.63
Athlete 18              423.70
Athlete 19              497.27
Athlete 2               190.30
Athlete 20              639.16
Athlete 21              417.40
Athlete 22              151.24
Athlete 23              570.50
Athlete 24              467.11
Athlete 3               444.66
Athlete 4               412.89
Athlete 5               459.87
Athlete 6               517.77
Athlete 7               490.36
Athlete 9               387.91

In [11]:
MaxValues_df['zscores_vel'] = stats.zscore(MaxValues_df['Velocity'])
MaxValues_df['zscores_far'] = stats.zscore(MaxValues_df['farthest'])
MaxValues_df['zscores_three'] = stats.zscore(MaxValues_df['ThreeMinuteDistance'])
print(MaxValues_df)

            Seconds Velocity Acceleration  Odometer Player Load farthest  \
                max      max          max       max         max      max
AthleteID
Athlete 1   8759.98     7.24     5.981192  10036.75       891.5   151.38
Athlete 10  8749.93     6.79     5.580821   7269.15       615.6   150.52
Athlete 11  8749.93     6.56     3.825559   4791.84       449.0   122.10
Athlete 12  8749.91     7.38     4.360430   8551.21       734.4   177.37
Athlete 13  8749.93     6.33     7.034368   6345.99       609.2   118.57
Athlete 14  7855.38     6.58     4.908402   9906.41       951.3   118.65
Athlete 15  8749.93     6.61    11.318196   5001.16       540.0   115.69
Athlete 17  8749.93     7.71     5.889059   9896.45       888.5   121.59
Athlete 18  8759.92     6.63     5.557953   6326.56       688.5   111.38
Athlete 19  8749.92     6.85     4.089531   7952.18       781.6   134.38
Athlete 2   8749.93     4.69     3.819985   2001.83       220.6    68.26
Athlete 20  8749.93     7.32     5.553606   9214.04       886.7   132.63
Athlete 21  8749.93     6.31     5.394188   7360.27       624.5   118.80
Athlete 22  8749.93     3.94     3.201309   2209.77       262.3    65.01
Athlete 23  8749.92     7.17     6.044008   9254.26      1044.2   127.24
Athlete 24  8749.93     7.31     3.911020   6784.38       675.0   125.93
Athlete 3   8749.97     6.52     4.420637   4884.73       475.0   105.88
Athlete 4   8749.92     6.93     7.695746   8404.01       819.0   131.37
Athlete 5   8749.92     6.33     3.994656   7482.94       750.9   118.69
Athlete 6   8750.04     7.15     8.633133  10739.12       988.4   117.31
Athlete 7   8749.93     7.53     5.789903  10723.64       900.1   131.45
Athlete 9   8749.92     7.01     3.932414   9233.42       767.0   109.88

           ThreeMinuteDistance zscores_vel zscores_far zscores_three
                           max
AthleteID
Athlete 1               645.59    0.660933    1.278042      1.472233
Athlete 10              680.17    0.132827    1.241197      1.756857
Athlete 11              440.27   -0.137094    0.023603     -0.217733
Athlete 12              481.11    0.825233    2.391528      0.118416
Athlete 13              443.65   -0.407015   -0.127633     -0.189913
Athlete 14              472.57   -0.113623   -0.124205      0.048125
Athlete 15              461.78   -0.078416   -0.251020     -0.040687
Athlete 17              572.63    1.212511    0.001753      0.871707
Athlete 18              423.70   -0.054944   -0.435673     -0.354119
Athlete 19              497.27    0.203241    0.549713      0.251427
Athlete 2               190.30   -2.331670   -2.283058     -2.275208
Athlete 20              639.16    0.754819    0.474738      1.419308
Athlete 21              417.40   -0.430487   -0.117779     -0.405974
Athlete 22              151.24   -3.211847   -2.422297     -2.596707
Athlete 23              570.50    0.578783    0.243815      0.854175
Athlete 24              467.11    0.743083    0.187691      0.003184
Athlete 3               444.66   -0.184037   -0.671309     -0.181600
Athlete 4               412.89    0.297127    0.420756     -0.443095
Athlete 5               459.87   -0.407015   -0.122492     -0.056408
Athlete 6               517.77    0.555312   -0.181615      0.420161
Athlete 7               490.36    1.001268    0.424183      0.194552
Athlete 9               387.91    0.391012   -0.499937     -0.648702

In [11]:
# adding up the z-scores to provide my simple global metric! 

MaxValues_df['Metric'] = stats.zscore(MaxValues_df['Velocity']) + stats.zscore(MaxValues_df['farthest'])+stats.zscore(MaxValues_df['ThreeMinuteDistance']) + 10

print(MaxValues_df)

            Seconds Velocity Acceleration  Odometer Player Load farthest  \
                max      max          max       max         max      max
AthleteID
Athlete 1   8759.98     7.24     5.981192  10036.75       891.5   151.38
Athlete 10  8749.93     6.79     5.580821   7269.15       615.6   150.52
Athlete 11  8749.93     6.56     3.825559   4791.84       449.0   122.10
Athlete 12  8749.91     7.38     4.360430   8551.21       734.4   177.37
Athlete 13  8749.93     6.33     7.034368   6345.99       609.2   118.57
Athlete 14  7855.38     6.58     4.908402   9906.41       951.3   118.65
Athlete 15  8749.93     6.61    11.318196   5001.16       540.0   115.69
Athlete 17  8749.93     7.71     5.889059   9896.45       888.5   121.59
Athlete 18  8759.92     6.63     5.557953   6326.56       688.5   111.38
Athlete 19  8749.92     6.85     4.089531   7952.18       781.6   134.38
Athlete 2   8749.93     4.69     3.819985   2001.83       220.6    68.26
Athlete 20  8749.93     7.32     5.553606   9214.04       886.7   132.63
Athlete 21  8749.93     6.31     5.394188   7360.27       624.5   118.80
Athlete 22  8749.93     3.94     3.201309   2209.77       262.3    65.01
Athlete 23  8749.92     7.17     6.044008   9254.26      1044.2   127.24
Athlete 24  8749.93     7.31     3.911020   6784.38       675.0   125.93
Athlete 3   8749.97     6.52     4.420637   4884.73       475.0   105.88
Athlete 4   8749.92     6.93     7.695746   8404.01       819.0   131.37
Athlete 5   8749.92     6.33     3.994656   7482.94       750.9   118.69
Athlete 6   8750.04     7.15     8.633133  10739.12       988.4   117.31
Athlete 7   8749.93     7.53     5.789903  10723.64       900.1   131.45
Athlete 9   8749.92     7.01     3.932414   9233.42       767.0   109.88

           ThreeMinuteDistance     Metric
                           max
AthleteID
Athlete 1               645.59  13.411208
Athlete 10              680.17  13.130881
Athlete 11              440.27   9.668775
Athlete 12              481.11  13.335177
Athlete 13              443.65   9.275439
Athlete 14              472.57   9.810296
Athlete 15              461.78   9.629877
Athlete 17              572.63  12.085971
Athlete 18              423.70   9.155264
Athlete 19              497.27  11.004381
Athlete 2               190.30   3.110064
Athlete 20              639.16  12.648865
Athlete 21              417.40   9.045761
Athlete 22              151.24   1.769149
Athlete 23              570.50  11.676773
Athlete 24              467.11  10.933958
Athlete 3               444.66   8.963054
Athlete 4               412.89  10.274788
Athlete 5               459.87   9.414085
Athlete 6               517.77  10.793858
Athlete 7               490.36  11.620004
Athlete 9               387.91   9.242372

We added 10 to the z-scores as no one wants to have a performance score that is negative.  However, this individual athlete is likely and was not currently participating fully with the practices or games.  All other scores are near 10 -- which makes sense as the z-scores should sum to zero.